@model IEnumerable<Order_Graber_DataService.ORDERS_DETAIL>

<p>
    @Html.ActionLink("Nueva detalle de orden", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id de orden
        </th>
        <th>
            Id de producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_line)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.line_id }) |
            @Html.ActionLink("Detalles", "Detail", new { id = item.line_id }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.line_id })
        </td>

    </tr>
}

</table>
