@model Order_Graber_DataService.ORDERS

<div>
    <h4>Detalles de la orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.order_id}) |
    @Html.ActionLink("Volver", "IndexOrder")
</p>
